
     
p{font-size: 20px;
   text-align: center;
background-color: blueviolet;
padding: 20px;
border-style:double ;
border-radius: 10px;
margin: 30px;

}


       #Starttekst {
           background-color: rgb(63, 204, 87);
           font-size: 60px;
           text-align: center;
           padding: 100px;
       }
  
     
      
       p{font-size: 20px;
          text-align: center;
      background-color: blueviolet;
      padding: 20px;
      border-style:double ;
      border-radius: 10px;
      margin: 30px;
      
       }
      
      
              #Starttekst {
                  background-color: rgb(63, 204, 70);
                  font-size: 60px;
                  text-align: center;
                  padding: 100px;
              }
         
            
p{font-size: 20px;
   text-align: center;
background-color: blueviolet;
padding: 20px;
border-style:double ;
border-radius: 10px;
margin: 30px;

}


       #Starttekst {
           background-color: rgb(63, 204, 70);
           font-size: 60px;
           text-align: center;
           padding: 100px;
       }
  

       <style>
       p{font-size: 20px;
  text-align: center;
background-color: blueviolet;
padding: 20px;
border-style:double ;
border-radius: 10px;
margin: 30px;

}

      #Starttekst {
          background-color: rgb(63, 204, 70);
          font-size: 60px;
          text-align: center;
          padding: 100px;
      }


    